@import '../globals.scss';

.findPassword_container {
  @include flex_container(space-between);
  flex-direction: column;
  .findPassword_wrapper {
    padding: $default_padding;
    margin-bottom: 30px;
  }
}
