$font-bold: 700;
$font-medium: 16px;

.mainSide-container {
  width: 393px;
  position: fixed;
  top: calc(50% - 168.5px);
  left: calc(50% + 196.5px);
  padding-left: 100px;
  .mainSide-logo {
    margin: 20px 0px 0px 10px;
  }

  > P {
    font-size: $font-medium;
    margin-left: 15px;
    margin-top: 20px;

    > span {
      font-weight: $font-bold;
    }
  }
  .mainSide-mascot {
    margin-top: 40px;
  }
}
