.social-container{
    position: relative;
}
.social-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >img {
        margin-top: 28px;
    }

    .title {
        font-weight: 700;
        font-size: 25px;
        line-height: 22px;
        margin-top: 28px;
    }

    .sub-title {
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;

        span {
            font-weight: 700;
        }
    }
    .join-form{
        margin-top: 38px;
        >p{
            font-size: 10px;
            line-height: 10px;
            font-weight: 400;
        }
        >input{
            &:last-of-type{
                margin-bottom: 30px;
            }
        }
    }
}
.join_success{
    width: 306px;
    height: 243px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid #D9D9D9;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    >img{
        margin-bottom: 25px;
    }
    >.close{
        position: absolute;
        top: 11px;
        right: 11px;
        cursor: pointer;
    }
    >p{
        margin-bottom: 8px;
    }
}