@import '../../app/globals.scss';

a {
    text-decoration: none;
}

.orderArea {
    background: #ffff;
    margin-top: 10px;
    padding: 22px 24px;


    .orderTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #e7e7e7;
        cursor: pointer;

        >p {
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
            color: #151515;
        }
    }

    .orderItem {
        display: flex;
        padding: 16px 18px;
        width: 345px;
        height: 123px;
        border: 1px solid #d9d9d9;
        border-radius: 20px;
        margin: 15px 0px;
        position: relative;

        >div {
            :first-of-type {
                margin-right: 15px;

            }

            >img {
                width: 93px;
                height: 91px;
            }

            p {
                font-size: 14px;
                line-height: 22px;
                font-weight: 400;
                color: #151515;
                margin-bottom: 10px;
            }

            .review {
                color: $mainColor;
                cursor: pointer;
                position: absolute;
                right: 18px;
                bottom: 0px;
            }

            >div {
                width: 203px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}