$mainColor: #ff6135;
$default_padding: 0px 24px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  position: relative;
}

body {
  width: 393px;
  margin: 0 auto;
}

.main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  color: #151515;

  .main-container {
    width: 393px;
    min-height: 100vh;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // margin-bottom: 59px;
  }
}

@mixin flex_container($justify: null, $align: center) {
  display: flex;
  @if $justify == null {
    justify-content: center;
  } @else {
    justify-content: $justify;
  }
  align-items: $align;
}
