@import '../globals.scss';

div.review_wrapper {
  margin-top: 20px;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 25px;
  .review_header {
    padding: $default_padding;
    @include flex_container(space-between);
    .review_header_data_wrapper {
      @include flex_container();
      flex-direction: column;
      gap: 5px;
    }
    .button_wrapper {
      @include flex_container();
      gap: 10px;
      .button {
        color: $mainColor;
        cursor: pointer;
      }
    }
  }

  .review_content {
    margin-top: 15px;
    padding: $default_padding;
    .review_text {
      line-height: 22px;
    }
    .review_image {
      margin-top: 9px;
      border-radius: 10px;
      width: 124px;
      height: 123px;
    }
  }
}
